<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3e" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur3e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur3e.urdf.xacro" />

  <!-- Include EGH Gripper -->
  <xacro:include filename="$(find ur_e_description)/urdf/egh_gripper.urdf.xacro" />

  <!-- arm -->
  <xacro:ur3e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />

    <link name="world" >

    </link>

    <link name="ground_plane_box">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1.0 0.5"/> 
            </geometry>
            <material name="Red_green">
                <color rgba="1.0 1.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1.0 0.5"/> 
            </geometry>
        </collision>
    </link> 

    <joint name="ground_plane_box" type="fixed">
        <parent link="world" />
        <child link="ground_plane_box" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <gazebo reference="world">
      <material>Gazebo/Red</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo> 

    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link = "base_link" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>  

    <!-- Schunk EGH -->
    <xacro:egh_gripper prefix="egh_gripper" parent="tool0">
        <!--<origin xyz="5.0 5.0 5.0" rpy="0 0 ${pi/2}"/>-->
    </xacro:egh_gripper>

</robot>
